.divRegist {
  display: flex;
  justify-content: center;
}
.formRegist {
  margin-bottom: 15px;
}

.registrLink {
  text-decoration: none;
  color: #0074d9;
  transition: text-decoration 0.2s;
}

.registrLink:hover {
  text-decoration: underline;
}
