.divRegist {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;

}

.divRegistLogin {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 62px;
}
.formRegist {
  margin-bottom: 15px;
}
.code {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 60px;
}

.registrLink {
  text-decoration: none;
  color: #0074d9;
  transition: text-decoration 0.2s;
}

.registrLink:hover {
  text-decoration: underline;
}
