.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.usercardinfo {
  max-height: 400px;
  margin: 50px 30px 30px 30px;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: rgb(230, 229, 237);
  background: linear-gradient(90deg, rgba(230, 229, 237, 1) 0%, rgba(118, 120, 120, 1) 100%);
  border-radius: 12px;
  padding: 20px 20px 0 20px;
  position: relative;
}

.usercardinfo .profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  margin-top: 50px;
  box-shadow:
    0px 5px 50px 0px rgb(255, 114, 75),
    0px 0px 0px 7px rgba(246, 242, 5, 0.5);
}

@media screen and (max-width: 576px) {
  .usercardinfo .profile-card__img {
    width: 120px;
    height: 120px;
  }
}

.usercardinfo .profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.usercardinfo .profile-card__cnt {
  margin-top: -40px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 10px;
}

.usercardinfo .profile-card__name {
  font-weight: 700;
  font-size: 24px;
  color: rgb(197, 97, 70);
  margin-bottom: 5px;
}

.usercardinfo .profile-card__txt {
  font-size: 18px;
  font-weight: 500;

  margin-bottom: 5px;
}

.usercardinfo .profile-card__txt strong {
  font-weight: 700;
}

.usercardinfo .profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.usercardinfo .profile-card-loc .profile-card-loc__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}

.favorite-restaurants {
  text-align: center;
  border: 1px solid rgb(122, 119, 119);
  border-radius: 50px; /* Закругление углов */
  padding: 10px;
  position: relative; /* Позиционирование относительно */
  background-size: 50% 100%; /* Ширина линий 50% от блока */
  background-repeat: no-repeat; /* Не повторять фон */
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  /* margin: 0 0 10px 0; */
}

.btn-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .btn-container {
    justify-content: center;
  }
}

.btn-rest {
  margin: 5px;
}

.btn {
  color: black;
  padding: 2px 4px;
  background: lightgray;
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  margin-bottom: 1%;
}

.comment-container {
  /* display: flex; */
  margin: 20px;
  max-width: 700px;
}
.user-comment-container {
  justify-content: space-between;
  padding: 30px;
}

.comment-owner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containermini {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.restName {
  text-align: center;
  display: block;
}

/* ===================btn */

.buttondel {
  padding: 8px 8px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  z-index: 1;
}

.buttondel::after,
.buttondel::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.buttondel::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #4b4b53;
  border-radius: 10px;
}

.buttondel::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

.buttondel:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.buttondel:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.buttondel:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

@media screen and (max-width: 576px) {
  .buttondel {
    height: 40px;
    max-width: 300px;
    font-size: 14px;
  }
}

.containercomment {
  display: flex;
  justify-content: space-between;
}

.containercardrest {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
}

.containerimg {
  min-height: 200px;
  min-width: 200px;

  padding: 50%;
  position: relative;
}

.containerimg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
